fastapi
uvicorn
fpdf
assemblyai
motor
dotenv
python-multipart
passlib
python-jose[cryptography]
jose
pydantic[email]
bcrypt
cloudinary
sqlalchemy
aiomysql
httpx
requests
python-docx
PyPDF2
pillow
easyocr